 body {
        background-color: #333;
        color: white;
        font-family: Arial, sans-serif;
    }
    .container {
        width: 95%;
        margin: 0 auto;
        background-color: #222;
        border: 1px solid #555;
        padding: 10px;
        border-radius: 5px;
    }

    select, input[type="radio"], input[type="checkbox"], button {
        margin-top: 0px;
    }

    .banner {
        background-image: url('images/banner.jpg');
        height: 150px;
        background-size: cover;
        border-radius: 5px;
    }

    .settings-group {
        margin-bottom: 20px;
    }

    .settings-group label {
        display: block;
        margin-top: 10px;
    }

    button {
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #777;
    }
    .footer-buttons {
        text-align: right;
    }